.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.campground-info {
  border-radius: 5px;
    box-shadow: 0 5px 5px 0 gray;
    border: 1px solid black;
    margin: 20px 0 20px 0;
    padding: 20px;
}

.flash {
  padding-top: 56px;
}

.dont-break-out {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

#info-section {
  background-color: #CCC;
  border: 1px solid gray;
  border-radius: 0 0 5px 5px;
}

#image-selector {
  background-color: rgb(215, 213, 213);
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: inset 0 0 5px 3px gray;
}
